#orc-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

#orc-layout .trigger:hover {
  color: #108ee9;
}

#orc-layout .logo {
  height: 32px;
  border-radius: 6px;
  margin: 16px;
  background-image: url(./logo.svg);
  background-repeat: no-repeat;
  background-size: 32px;
}

#orc-layout .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

#orc-layout .ant-layout-sider-collapsed .nav-text {
  display: none;
}

.orc-row {
  margin-top: 12px;
  margin-bottom: 12px;
}

.orc-label {
  float: right;
  font-weight: bold;
  padding: 5px;
  white-space: nowrap;
}